.contenedor {
    text-align: center;
    margin: 4rem auto 0 auto;
    max-width: 120rem;
    border: 1px solid;
    padding: 2rem;
    width: 95%;
}

.ver {
    margin-top: 1rem;
}

.boton {
    text-decoration: none;
    outline: none;
    border: none;
    padding: .5rem;
    width: 40%;
    font-size: 1.5rem;
    color: white;
    background-color: var(--naranja);
    border-radius: .5rem;
    margin-top: 2rem;
    transition: background-color 0.3s ease-in-out; 
}

.boton:hover {
    background-color: var(--naranjaClaro);
}

@media (min-width: 768px) {
    .boton{
        width: 20%;
    }
}