.contenedor {
    text-align: center;
    margin: 4rem auto 0 auto;
    max-width: 120rem;
    border: 1px solid;
    padding: 2rem;
}

.ver {
    margin-top: 1rem;
}

.boton {
    text-decoration: none;
    outline: none;
    border: none;
    padding: .5rem;
    width: 20%;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(233, 0, 0);
    border-radius: .5rem;
    margin-top: 2rem;
}

.boton:hover {
    color: yellow;
}