<div class="navegacion-fondo">
  <div class="navegacion-contenedor">
    <a (click)="vaciarInput()" [routerLink]="['/inicio']" routerLinkActive="router-link-active" class="titulo">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chef-hat" width="48" height="48"
        viewBox="0 0 24 24" stroke-width="2" stroke="#FF6A21" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12 3c1.918 0 3.52 1.35 3.91 3.151a4 4 0 0 1 2.09 7.723l0 7.126h-12v-7.126a4 4 0 1 1 2.092 -7.723a4 4 0 0 1 3.908 -3.151z" />
        <path d="M6.161 17.009l11.839 -.009" />
      </svg>
      <h1>Sabor<span class="samp">Culinario</span></h1>
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a (click)="vaciarInput()" routerLink="/inicio" class="nav-link active" aria-current="page" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a (click)="mostrarCategorias(); $event.preventDefault()" class="nav-link nav-linkCategorias"
          href="#">Categorias</a>
        <ng-container *ngIf="mostrar">
          @if (mostrarCategoriasList$ | async; as resultsObject) {
          <div class="lista" [ngClass]="{'mostrar': mostrar}">
            @for (item of resultsObject.meals; track $index) {
            <a (click)="goToItem(item.strCategory)" class="lista-item">{{item.strCategory}}</a>
            }
          </div>
          }
        </ng-container>
      </li>
      <li class="nav-item">
        <a routerLink="/ingredientes" class="nav-link" href="#">Ingredientes</a>
      </li>
    </ul>
  </div>
</div>