.navegacion-fondo {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    margin: 2rem auto 0 auto;
    position: relative;
    z-index: 1;
}

.navegacion-contenedor {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 0 auto;
}


@media (min-width: 768px) {
    .navegacion-fondo {
        padding: 2rem;
        position: relative;
        z-index: 1;
    }

    .navegacion-contenedor {
        margin: 0 auto;
        max-width: 120rem;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }


}


.titulo {
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

a {
    font-size: 1.8rem;
    color: var(--negro);
}

span {
    color: var(--naranja);
    font-size: 4rem;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .nav {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }
}




.nav-link {
    color: var(--negro);
    font-weight: 500;
    position: relative;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: var(--naranja);
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: var(--naranja);
    transition: width 0.3s ease-in-out;
    /* Añade transición para el ancho */
}

.nav-link:hover::before {
    width: 100%;
}



.lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .2rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    z-index: 1;

    background-color: var(--blanco);
    border-radius: 1rem;
    padding-left: 1rem;
    text-align: center;

    margin-left: -10rem;
    margin-top: 1rem;
}


.lista-item {
    cursor: pointer;
    margin-bottom: 1rem;
    color: var(--negro);
}

.lista-item:hover {
    color: var(--naranja);
}


.mostrar {
    opacity: 1;
    visibility: visible;
}


.nav-linkCategorias {
    position: relative;
}