<div class="fondo">
    <div class="contenedor">
        <div class="info">
            <h2>Sobre Nosotros</h2>
            <p>
                ¡Bienvenido a SaborCulinario! Descubre experiencias culinarias únicas con recetas creativas y consejos
                prácticos. Únete a nuestro emocionante viaje donde cada bocado cuenta una historia de sabor. ¡Bienvenido
                a
                nuestro mundo culinario!</p>
        </div>
        <img class="imagenChef" src="../../../assets/images/chef.jpg" alt="">
    </div>
</div>