<div class="mealContainer">
    <ng-container *ngIf="mealInfo.strMealThumb">
        <div class="contenedorYt">
            <img class="mealPhoto" [ngSrc]="mealInfo.strMealThumb" width="200" height="200">
            <ng-container *ngIf="mealInfo.strYoutube">
                <div class="Yt">
                    <p>Ver Receta</p>
                    <a href="{{mealInfo.strYoutube}}"><img class="mealYt" src="../../../assets/images/yt.png"
                            alt=""></a>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <div class="info">
        <h3 class="info-titulo">{{mealInfo.strMeal}}</h3>
        <h4 class="info-titulo2">Ingredientes: </h4>
        <div class="ingredients">
            <div class="uno">
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient1">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient1}}: </li>
                        <p class="item-medida">{{mealInfo.strMeasure1}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient2">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient2}}: </li>
                        <p class="item-medida">{{mealInfo.strMeasure2}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient3">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient3}}: </li>
                        <p class="item-medida">{{mealInfo.strMeasure3}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient4">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient4}}: </li>
                        <p class="item-medida">{{mealInfo.strMeasure4}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient5">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient5}}: </li>
                        <p class="item-medida">{{mealInfo.strMeasure5}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient6">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient6}}: </li>
                        <p class="item-medida">{{mealInfo.strMeasure6}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient7">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient7}}: </li>
                        <p class="item-medida">{{mealInfo.strMeasure7}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient8">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient8}}: </li>
                        <p class="item-medida">{{mealInfo.strMeasure8}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient9">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient9}}: </li>
                        <p class="item-medida">{{mealInfo.strMeasure9}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient10">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient10}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure10}}</p>
                    </ul>
                </ng-container>
            </div>
            <div class="dos">
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient11">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient11}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure11}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient12">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient12}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure12}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient13">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient13}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure13}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient14">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient14}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure14}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient15">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient15}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure15}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient16">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient16}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure16}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient17">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient17}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure17}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient18">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient18}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure18}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient19">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient19}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure19}}</p>
                    </ul>
                </ng-container>
                <ng-container class="mealIngredient" *ngIf="mealInfo.strIngredient20">
                    <ul class="item-info">
                        <li class="item">{{mealInfo.strIngredient20}} :</li>
                        <p class="item-medida">{{mealInfo.strMeasure20}}</p>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="instrucciones">
        <h4 class="info-titulo2">Instrucciones:</h4>
        <p>{{mealInfo.strInstructions}}</p>
    </div>
</div>