.fondo{
    background-color: var(--fondo);
    padding-top: 4rem;
    padding-bottom: 3rem;
    width: 100%;
    min-height: 75rem;
    height: auto;
}

.info{
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}



.mealInfoCard {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    height: auto;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 480px) {
    .mealInfoCard {
        width: 70%;
    }
    
    
.info{
    width: 95%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
}


@media (min-width: 768px) {
    .contenedor {
        width: 90%;
        max-width: 40rem;
        max-height: 30rem;
    }

    .mealInfoCard {
        max-width: 120rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 120rem;
        width: 90%;
        height: 40rem;
    }

}


.h1 {
    text-align: center;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--naranja);
}

p{
    color: var(--morado);
}

.span1{
    color: var(--negro);
}
.span2{
    color: var(--naranja);
}

ul{
    padding: 0;
    margin: 0;
}
