<app-header></app-header>
<app-buscador></app-buscador>
<h1 class="h1">Recetas Destacadas</h1>
<div class="mealInfoCard">
    @if(mealItemResults$ |async; as resultsObject){
    <ul>
        @for(item of resultsObject.meals; track item.strMeal){
        <div class="contenedor">
            <app-meals-random [meal]="item"></app-meals-random>
        </div>
        }
    </ul>
    }

    @if(mealItemResults2$ |async; as resultsObject){
    <ul>
        @for(item of resultsObject.meals; track item.strMeal){
        <div class="contenedor">
            <app-meals-random [meal]="item"></app-meals-random>
        </div>
        }
    </ul>
    }

    @if(mealItemResults3$ |async; as resultsObject){
    <ul>
        @for(item of resultsObject.meals; track item.strMeal){
        <div class="contenedor">
            <app-meals-random [meal]="item"></app-meals-random>
        </div>
        }
    </ul>
    }
</div>
@if (errorMessage) {
<app-error-message [errorMessage]="errorMessage"></app-error-message>
}