
.mealContainer {
    margin: 3rem auto 4rem auto;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.mealPhoto{
    width: 100%;
    height: auto;
    border-radius: 1rem;
   
}

/* .mealYt{
    width: 10rem;
    height: 5rem;
} */




a{
    padding: 0;
    margin: 0;
}
